/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 30 60% 96.3%;
    --foreground: 222.2 84% 4.9%;
    --card: 30 60% 96.3%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 30 60% 96.3%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 142 76% 36%;
    --primary-foreground: 355 100% 97%;
    --secondary: 210 40% 98%;
    --secondary-foreground: 222.2 84% 4.9%;
    --muted: 210 40% 98%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 98%;
    --accent-foreground: 222.2 84% 4.9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 142 76% 36%;
    --radius: 0.5rem;
  }

  .embla__slide--active {
    z-index: 10;
  }

  .embla__slide > div {
    transition: transform 0.3s ease-in-out;
  }

  .carousel-container {
    overflow: visible;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 142 76% 36%;
    --primary-foreground: 355 100% 97%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 142 76% 36%;
  }

  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: 'Philosopher', sans-serif;
    color: #7D806A;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-playfair);
  }

  .font-sans {
    font-family: var(--font-inter);
    color: initial;
  }
}

@layer components {
  .prose {
    @apply text-base leading-7;
  }

  .prose p {
    @apply mb-4;
  }

  .prose-lg {
    @apply text-lg leading-8;
  }

.line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  /* Custom scrollbar */
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: #888a77;
    border-radius: 9999px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #777a6b;
  }
}
